parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    excludePaths:
        - Test/*
    ignoreErrors:
        - '#^Call to an undefined method .*Interface::.*\(\)\.$#'
        - '#^Call to an undefined method Magento\\Framework\\View\\Result\\Page::setActiveMenu\(\)\.$#'
        - '#^Call to an undefined method Magento\\Framework\\Data\\Form\\Element\\AbstractElement::unsScope\(\)\.$#'
        - '#^Call to an undefined method Magento\\Framework\\Data\\Collection\\AbstractDb::addAttributeToFilter\(\)\.$#'
        - identifier: missingType.iterableValue
